.bg-image{
    background-image: url('../../../images/visa_log_bg.jpeg');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
    width:100vw;
    height:100vh;
  }

